[Unit]
Description=PALM - PV Automated Load Manager
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s

ExecStart=/home/pi/palm/palmscript
WorkingDirectory=/home/pi/palm

[Install]
WantedBy=multi-user.target
